		<section id="about" class="p-portfolio__section p-portfolio__about" data-scroll-trigger>
			<div class="l-container l-container--narrow">
				<div class="u-text-center u-mb-16">
					<h2 class="p-portfolio__section-title" data-text-scramble data-text="About">About</h2>
				</div>

				<div class="p-portfolio__about-grid">
					<div class="p-portfolio__about-visual">
						<div class="p-portfolio__about-avatar">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-12 h-12 text-white">
								<polyline points="16 18 22 12 16 6"></polyline>
								<polyline points="8 6 2 12 8 18"></polyline>
							</svg>
						</div>
					</div>

					<div class="p-portfolio__about-content">
						<% if (typeof portfolio !== 'undefined' && portfolio.about && portfolio.about.length > 0) { %>
							<% const about = portfolio.about[0]; %>
							<div>
								<% if (about.data['.p-portfolio__about-name']) { %>
									<h3 class="p-portfolio__about-name"><%= about.data['.p-portfolio__about-name'] %></h3>
								<% } %>

								<% if (about.data['.p-portfolio__about-role']) { %>
									<p class="p-portfolio__about-role"><%= about.data['.p-portfolio__about-role'] %></p>
								<% } %>

								<% if (about.data['.p-portfolio__about-text']) { %>
									<p class="p-portfolio__about-text">
										<%
											const textLines = Array.isArray(about.data['.p-portfolio__about-text'])
												? about.data['.p-portfolio__about-text']
												: [about.data['.p-portfolio__about-text']];
											textLines.forEach(function(line, index) {
												if (index > 0) { %><br><% }
												%><%- line %><%
											});
										%>
									</p>
								<% } %>
							</div>

							<% if (about.data['.p-portfolio__about-list']) { %>
								<ul class="p-portfolio__about-list">
									<%
										const listItems = Array.isArray(about.data['.p-portfolio__about-list'])
											? about.data['.p-portfolio__about-list']
											: [about.data['.p-portfolio__about-list']];
										listItems.forEach(function(item) {
									%>
										<li class="p-portfolio__about-item">
											<span><%= item %></span>
										</li>
									<% }); %>
								</ul>
							<% } %>

							<div class="p-portfolio__about-hobbies">
								<% if (about.data['.p-portfolio__about-hobbies-title']) { %>
									<h4 class="p-portfolio__about-hobbies-title"><%= about.data['.p-portfolio__about-hobbies-title'] %></h4>
								<% } %>
								<% if (about.data['.p-portfolio__about-hobbies-text']) { %>
									<p class="p-portfolio__about-hobbies-text"><%= about.data['.p-portfolio__about-hobbies-text'] %></p>
								<% } %>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</section>

