<%- include('_head') %>
<%- include('_nav') %>
<main>
	<%- include('_hero') %>
	<%- include('_skills') %>
	<%- include('_works') %>
	<%- include('_notes') %>
	<%- include('_flow') %>
	<%- include('_about') %>
	<%- include('_contact') %>
</main>
<%- include('_footer') %>
